<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .tabborder {
            border: 1px solid black;
        }
        .top {
            vertical-align: top;
        }
        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <table width="100%" style="font-size: 12px; color: black;">
        <thead>
            <tr>
                <th width="2%" class="tabborder top">Sr. No.</th>
                <th width="4%" class="tabborder top">Empl Code</th>
                <th width="21%" class="tabborder top">
                    <table>
                        <tr><th>Employee Name</th></tr>
                        <tr><th>Designation</th></tr>
                        <tr><th>Department</th></tr>
                    </table>
                </th>
                <th width="7%" class="tabborder top center">Join Dt / Probation Dt</th>
                <th width="10%" class="tabborder top center">Shift</th>
                {% counter = 1 %}
                {% for attendance_detail in attendance_details %}
                {% for detail in attendance_detail.attendance_details %}
                {% if counter == 1 %}
                <th width="2%" class="tabborder top center">{{ (detail._index + 1) }}</th>
                {% endif %}
                {% endfor %}
                {% counter = counter + 1 %}
                {% endfor %}
                <th width="5%" class="tabborder top center">Total Pres.</th>
                <th width="4%" class="tabborder top center">
                    <table width="100%">
                        <tr><th>Woff</th></tr>
                        <tr><th>PH</th></tr>
                    </table>
                </th>
                <th width="3%" class="tabborder top center">
                    <table width="100%">
                        <tr><th>PL</th></tr>
                        <tr><th>CL</th></tr>
                        <tr><th>SL</th></tr>
                    </table>
                </th>
                <th width="4%" class="tabborder top center">Total Days</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                {% for attendance_detail in attendance_details %}
                <td class="tabborder top">{{ (attendance_detail._index)+1 }}</td>
                <td class="tabborder top">{{ attendance_detail.Employee }}</td>
                <td class="tabborder top">
                    <table>
                        <tr><td>{{ attendance_detail.Employee_Name }}</td></tr>
                        <tr><td>{{ attendance_detail.Designation }}</td></tr>
                        <tr><td>{{ attendance_detail.Department }}</td></tr>
                    </table>
                </td>
                <td class="tabborder top" style="padding-top: 15px;">{{ attendance_detail.Custom_Probation_Date }}</td>
                <td class="tabborder top">{{ attendance_detail.Shift }}</td>
                {% total_pres = 0 %}
                {% total_woff = 0 %}
                {% total_ph = 0 %}
                {% total_pl = 0 %}
                {% total_cl = 0 %}
                {% total_sl = 0 %}
                {% for detail in attendance_detail.attendance_details %}
                {% if detail.Status == "Present" || detail.Status == "Half Day" %}
                <td class="tabborder top center">{{ detail.Custom_Derived_Present_Minutes }}</td>
                {% total_pres = total_pres + detail.Custom_Derived_Present_Minutes %}
                {% endif %}
                {% if detail.Status == "Week Off" %}
                <td class="tabborder top center">WO</td>
                {% total_woff = total_woff + 1 %}
                {% endif %}
                {% if detail.Status == "Public Holiday" %}
                <td class="tabborder top center">PH</td>
                {% total_ph = total_ph + 1 %}
                {% endif %}
                {% if detail.Status == "Absent" %}
                <td class="tabborder top center">A</td>
                {% endif %}
                {% if detail.Status == "On Leave" %}
                <td class="tabborder top center">
                    {% if detail.Leave_Type == "Casual Leave" %}CL{% total_cl = total_cl + 1 %}{% endif %}
                    {% if detail.Leave_Type == "Sick Leave" %}SL{% total_sl = total_sl + 1 %}{% endif %}
                    {% if detail.Leave_Type == "Privilege Leave" %}PL{% total_pl = total_pl + 1 %}{% endif %}
                </td>
                {% endif %}
                {% endfor %}
                <td class="tabborder top center">{{ total_pres }}</td> 
                <td class="tabborder top center">
                    <table width="100%">
                        <tr><td>{{ total_woff }}</td></tr>
                        <tr><td>{{ total_ph }}</td></tr>
                    </table>
                </td>
                <td class="tabborder top center">
                    <table width="100%">
                        <tr><td>{{ total_pl }}</td></tr>
                        <tr><td>{{ total_cl }}</td></tr>
                        <tr><td>{{ total_sl }}</td></tr>
                    </table>
                </td>
                <td class="tabborder top center">{{ total_pres + total_woff + total_ph + total_pl + total_cl + total_sl }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  
</body>
</html> 


